@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500&display=swap');

::root{
    --main_color: #002233;
}

*,::after,::before{
    margin: 0;
    padding: 0;
    border: 0;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

body{
    font-family: 'Fredoka', sans-serif;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: hsl(0 0% 100% / 0.1);
    height: 5rem;
    background-image: url("./wave2_lemmy.svg");
}

.nav-logo, .nav-items{
    margin-top: -1.3rem;
}

.spacer{
    aspect-ratio: 960/70;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.nav-items{
    display: flex;
    align-items: center;
}

.nav-item{
    padding: 0.2rem 0.8rem;
}

.nav-link{
    color: white;
}

.categories-wrapper{
    display: grid;
    background-color: #002233;
}

.categories-wrapper > h1 {
    justify-self: center;
    color: white;
}

.categories{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2rem;
}

.cat-obj{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    border-radius: 6px;
    padding: 1rem;
    border: 0.5rem;
    background: #ffffff;
    height: 150px;
    z-index: 5;
}

.cat-obj::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 0.3rem;
    top: 0;
    background-color: yellow;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.cat-link{
    background-color: black;
    color: white;
    justify-self: center;
    padding: 0.5rem 0.8rem;
    margin-bottom: 1rem;
}