{% extends 'base.html' %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='Styles/home.css')}}">
{% endblock %}

{% block content %}
    <main>
        <div class="container home">
            <div class="info">
                <p class="home-desc1">Stunning Ideas </p>
                <h1 class="home-title">Share Your Pitch</h1>
                <p class="home-desc2">Made together</p>
            </div>
            <div class="home-img">
            </div>  
        </div>   
    </main>
{% endblock %}