{% extends 'base.html'%}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='Styles/posts.css')}}">
{% endblock %}

{% block content %}
    <main>
        <div class="container posts">
            {% for post in posts %}
            <div class="post-wrapper">
                <h1 class="post-title">{{post.title}}</h1>
                <div class="post-content">{{post.content}}</div>
                <h2 class="post-author">{{ post.poster.username }}</h2>
                <h2 class="post-email">{{ post.poster.email }}</h2>
                <div class="post-footer">
                    <p class="post-category">{{post.category.name}}</p>
                    <p class="post-date_posted">{{post.date_posted}}</p>
                </div>
                {% if user.id == post.poster_id %}
                <div class="post-btn">
                    <span id="likes-count-{{post.id}}"> {{ post.likes.all()|length }}</span>
                    <i class='bx bx-like' id="like-button-{{post.id}}" onClick="like('{{post.id}}')"></i>
                    <a class="btn" href="{{ url_for('post.delete_post',post_id=post.id) }}">Delete</a>
                </div>
                {% endif %}
                {% for comment in post.comments %}
                <div class="post-edit-comments">
                    <p class="post-comment">{{ comment.text }}</p>
                    {% if user.id == comment.poster_id or user.id == post.poster_id %}
                    <div class="post-btn">
                        <a class="btn" href="{{ url_for('post.delete_comment',comment_id=comment.id) }}">Delete</a>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
                <form action="/posts/create-comment/{{ post.id }}" method="POST" class="form-comment">
                    <input type="text" id="text" name="text" class="form-control" placeholder="add a comment">
                    <input type="submit" class="submit-btn" value="Add comment">
                </form>
            </div>
            {% endfor%}
        </div>
    </main>
{% endblock %}
